body,
div,
p,
ul,
li,
input {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  color: #fff;
  outline: none;
  text-decoration: none;
}

body {
  font: 700 24px/1.5 Arial;
}

#calc {
  position: relative;
  width: 300px;
  background: #000;
  margin: 10px auto;
}

#calc p {
  color: #fff;
  text-align: right;
  font: 12px/20px Arial;
  padding: 0 5px;
}

#calc .f-text {
  border: 0;
  width: 290px;
  height: 84px;
  text-align: right;
  font: 700 50px/84px Arial;
  background: url(inputBg.jpg) repeat-x;
  padding: 0 5px;
}

#calc ul {
  position: relative;
  overflow: hidden;
  zoom: 1;
  background: url(bg.jpg);
  padding: 0 0 17px 8px;
}

#calc ul li {
  float: left;
  width: 63px;
  height: 41px;
  margin: 17px 10px 0 0;
}

#calc ul li a {
  display: block;
  width: 63px;
  height: 41px;
  line-height: 41px;
  text-align: center;
  background: url(btn.png) no-repeat;
}

#calc ul li a:hover {
  background-position: -63px 0;
}

#calc ul li.btn-1 a {
  background-position: 0 -41px;
}

#calc ul li.btn-1 a:hover {
  background-position: -63px -41px;
}

#calc ul li.btn-2 {
  position: absolute;
  top: 174px;
  right: 0;
  height: 99px;
}

#calc ul li.btn-2 a {
  height: 99px;
  line-height: 99px;
  background-position: 0 -164px;
}

#calc ul li.btn-2 a:hover {
  background-position: -63px -164px;
}

#calc ul li.btn-3 {
  width: 136px;
}

#calc ul li.btn-3 a {
  width: 136px;
  background-position: 0 -82px;
}

#calc ul li.btn-3 a:hover {
  background-position: 0 -123px;
}

#formula {
  position: absolute;
  top: 20px;
  background: none;
  border: 0;
  font: 700 12px/1.5 Arial;
  width: 280px;
  padding: 3px 15px 0 5px;
  text-align: right;
}