ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.out {
  width: 800px;
  height: 350px;
  margin: 100px auto;
  -webkit-perspective: 500000px;
  position: relative;
}

.box {
  width: 100%;
  height: 87px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 3s ease;
  -webkit-transform-origin: 50% 50% 25px;
}

.box li {
  position: absolute;
  width: 100%;
  height: 100%;
}

.box li:nth-of-type(1) {
  height: 50px;
  background: #000;
  top: -50px;
  left: 0;
  -webkit-transform-origin: bottom;
  -webkit-transform: rotateX(-90deg);
}

.box li:nth-of-type(2) {
  width: 50px;
  background: #000;
  top: 0px;
  left: -50px;
  -webkit-transform-origin: right;
  -webkit-transform: rotateY(90deg);
}

.box li:nth-of-type(3) {
  background: url('https://gitee.com/heptaluan/backups/raw/master/demos/images/01.jpg') no-repeat;
  background-size: cover;
  top: 0px;
  left: 0;
}

.box li:nth-of-type(4) {
  width: 50px;
  background: #000;
  top: 0px;
  left: 800px;
  -webkit-transform-origin: left;
  -webkit-transform: rotateY(-90deg);
}

.box li:nth-of-type(5) {
  height: 50px;
  background: #000;
  top: 87px;
  left: 0;
  -webkit-transform-origin: top;
  -webkit-transform: rotateX(90deg);
}

.box li:nth-of-type(6) {
  background: url('../../images/09.jpg') no-repeat;
  background-size: cover;
  top: 0px;
  left: 0;
  -webkit-transform: translateZ(50px);
}

.btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ccc;
  cursor: pointer;
  position: absolute;
  top: 500px;
  left: 300px;
}